<!-- Modal Header -->
<div class="modal-header">
    <h4 class="modal-title">Tạo mới</h4>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<!-- Modal body -->
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="mb-2">
                <input type="text" placeholder="Tiêu đề" id="name" class="form-control" />
            </div>
            <div class="mb-2">
                <textarea class="form-control textarea-resize-none" id="video" rows="2" onchange="iframeVideo()" placeholder="Mã nhúng video"></textarea>
            </div>
            <div id="show-video">
                
            </div>
        </div>
    </div>
</div>

<!-- Modal footer -->
<div class="modal-footer">
    <button type="button" class="btn btn-success" onclick="createVideo()">Lưu</button>
    <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
</div>