<!-- Modal Header -->
<div class="modal-header">
    <h4 class="modal-title">Tạo mới</h4>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<!-- Modal body -->
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="mb-2">
                <input type="text" placeholder="Tên thương hiệu" id="name-change" maxlength="100" onchange="nameChange()" class="form-control" />
            </div>
            <div class="mb-2">
                <input type="text" placeholder="Slug" id="slug-name" maxlength="200" class="form-control cursor-no-drop" readonly />
            </div>
            <div class="mb-2">
                <input type="text" placeholder="Meta Title" maxlength="60" id="metaTitle" class="form-control" />
            </div>
            <div class="mb-2">
                <input type="text" placeholder="Meta Keywords" maxlength="255" id="metaKeyword" class="form-control" />
            </div>
            <div>
                <textarea class="form-control textarea-resize-none" maxlength="160" id="metaDescription" rows="3" placeholder="Meta Description"></textarea>
            </div>
        </div>
    </div>
</div>

<!-- Modal footer -->
<div class="modal-footer">
    <button type="button" class="btn btn-success" onclick="createCategory()">Lưu</button>
    <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
</div>