<!DOCTYPE html>
<html lang="en">

<head>
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/Content/AdminContent/Upload/logo.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/ClientContent/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link href="~/Content/ClientContent/fontawesome-free-5.12.0-web/css/all.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/ClientContent/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/ClientContent/fonts/themify/themify-icons.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/ClientContent/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/ClientContent/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/ClientContent/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/ClientContent/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/ClientContent/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/ClientContent/vendor/slick/slick.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/ClientContent/vendor/lightbox2/css/lightbox.min.css">
    <!--===============================================================================================-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/Content/ClientContent/css/util.css">
    <link rel="stylesheet" type="text/css" href="/Content/ClientContent/css/main.css">
    <!--===============================================================================================-->
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link href="~/Content/ClientContent/css/myCss.css" rel="stylesheet" />
</head>

<body class="animsition">

    <!-- Header -->
    <header>
        <!-- Header desktop -->
        <div class="wrap-menu-header gradient1 trans-0-4">
            <div class="container h-full">
                <div class="wrap_header trans-0-3">
                    <!-- Logo -->
                    <div class="logo">
                        <a href="index.html">
                            <img src="/Content/AdminContent/Upload/logo.png" alt="IMG-LOGO" data-logofixed="/Content/AdminContent/Upload/logo.png">
                        </a>
                    </div>

                    <!-- Menu -->
                    <div class="wrap_menu p-l-45 p-l-0-xl">
                        <nav class="menu">
                            <ul class="main_menu">
                                <li>
                                    <a href="/trang-chu">TRANG CHỦ</a>
                                </li>

                                <li>
                                    <a href="/hang-ruou">HÃNG RƯỢU</a>
                                </li>

                                <li>
                                    <a href="/tin-tuc">TIN TỨC</a>
                                </li>

                                <li>
                                    <a href="/kien-thuc">KIẾN THỨC</a>
                                </li>

                                <li>
                                    <a href="/lien-he">LIÊN HỆ</a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                    <!-- Social -->
                    <div class="social flex-w flex-l-m p-r-20">


                        <button class="btn-show-sidebar m-l-33 trans-0-4"></button>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Sidebar -->
    <aside class="sidebar trans-0-4">
        <!-- Button Hide sidebar -->
        <button class="btn-hide-sidebar ti-close color0-hov trans-0-4"></button>

        <!-- - -->
        <ul class="menu-sidebar p-t-95 p-b-70">
            <li class="t-center m-b-13">
                <a href="/trang-chu" class="txt19">TRANG CHỦ</a>
            </li>

            <li class="t-center m-b-13">
                <a href="/hang-ruou" class="txt19">HÃNG RƯỢU</a>
            </li>

            <li class="t-center m-b-13">
                <a href="/tin-tuc" class="txt19">TIN TỨC</a>
            </li>

            <li class="t-center m-b-13">
                <a href="/kien-thuc" class="txt19">KIẾN THỨC</a>
            </li>

            <li class="t-center m-b-13">
                <a href="/lien-he" class="txt19">LIÊN HỆ</a>
            </li>
        </ul>
    </aside>

    <!-- Slide1 -->
    <section class="section-slide">
        <div class="wrap-slick1">
            <div class="slick1">
                <div class="item-slick1 item1-slick1" style="background-image: url(/Content/ClientContent/upload/ong-chu-tham-vuon-nho.jpg);">
                    <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
                        <span class="caption1-slide1 txt1 t-center animated visible-false m-b-15" data-appear="fadeInDown">
                            Welcome to
                        </span>

                        <h2 class="caption2-slide1 tit1 t-center animated visible-false m-b-37" data-appear="fadeInUp">
                            Viet Y
                        </h2>

                        <div class="wrap-btn-slide1 animated visible-false" data-appear="zoomIn">
                            <span class="flex-c-m size1 txt3 trans-0-4 custom-text">
                                wine
                            </span>
                        </div>
                    </div>
                </div>



            </div>

            <!-- <div class="wrap-slick1-dots"></div> -->
        </div>
    </section>

    @RenderBody()

    <!-- Footer -->
    <footer class="bg1">
        <div class="end-footer bg2">
            <div class="container">
                <div class="flex-sb-m flex-w p-t-22 p-b-22">


                    <div class="txt17 p-r-20 p-t-5 p-b-5">
                        &copy; @DateTime.Now.Year Viet Y wine | Developed by <a href="http://devmaster.vn/" target="_blank">Devmaster Academy</a> - Design by <a href="https://www.facebook.com/maiviet8748" target="_blank">Kim JB</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- Back to top -->
    <div class="btn-back-to-top bg0-hov" id="myBtn">
        <span class="symbol-btn-back-to-top">
            <i class="fa fa-angle-double-up" aria-hidden="true"></i>
        </span>
    </div>

    <!-- Container Selection1 -->
    <div id="dropDownSelect1"></div>

    <div class="phone-contact">
        <img src="~/Content/ClientContent/upload/animated-telephone-image-0081.gif" class="icon-phone" />
        <span>024 2269 6999</span>
    </div>

    <!--===============================================================================================-->
    <script type="text/javascript" src="/Content/ClientContent/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/ClientContent/fontawesome-free-5.12.0-web/js/all.min.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="/Content/ClientContent/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="/Content/ClientContent/vendor/bootstrap/js/popper.js"></script>
    <script type="text/javascript" src="/Content/ClientContent/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="/Content/ClientContent/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="/Content/ClientContent/vendor/daterangepicker/moment.min.js"></script>
    <script type="text/javascript" src="/Content/ClientContent/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="/Content/ClientContent/vendor/slick/slick.min.js"></script>
    <script type="text/javascript" src="/Content/ClientContent/js/slick-custom.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="/Content/ClientContent/vendor/parallax100/parallax100.js"></script>
    <script type="text/javascript">
        $('.parallax100').parallax100();
    </script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="/Content/ClientContent/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="/Content/ClientContent/vendor/lightbox2/js/lightbox.min.js"></script>
    <!--===============================================================================================-->
    <script src="/Content/ClientContent/js/main.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/ClientContent/js/utilities.js"></script>
</body>

</html>