
@{ 
    var getCategories = ViewBag.getCategories;
    var getProducer = ViewBag.getProducer;
}

<div class="header justify-content-between d-flex">
    <h2 class="pt-3">Tạo mới</h2>
</div>
<div class="body">
    <div class="container">
        <div class="row mb-2">
            <div class="col-md-12">
                <div class="mb-2">
                    <input type="text" placeholder="Tên rượu" id="name-change" onchange="nameChange()" class="form-control" />
                </div>
                <div class="mb-2">
                    <input type="text" readonly placeholder="slug" id="slug-name" class="form-control cursor-no-drop" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <input type="hidden" id="avatar" value="/Content/AdminContent/Upload/noImageAvailable.png" />
                <img src="/Content/AdminContent/Upload/noImageAvailable.png" title="Cập nhật" id="show-img" onclick="selectFile()" />
            </div>
            <div class="col-md-4">
                <div class="mb-2">
                    <select class="form-control" id="categoryID">
                        <option selected disabled>Chọn hãng rượu</option>
                        @foreach(var itemCate in getCategories)
                        {
                            <option value="@itemCate.ID">@itemCate.name</option>
                        }
                    </select>
                </div>
                <div class="mb-2">
                    <select class="form-control" id="producerID">
                        <option selected disabled>Chọn nhà sản xuất</option>
                        @foreach(var itemProducer in getProducer)
                        {
                            <option value="@itemProducer.ID">@itemProducer.name</option>
                        }
                    </select>
                </div>
                <div class="mb-2">
                    <input type="text" placeholder="Giá bán" id="price" class="form-control" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-2">
                    <input type="text" placeholder="Meta Title" id="metaTitle" class="form-control" />
                </div>
                <div class="mb-2">
                    <input type="text" placeholder="Meta Keywords" id="metaKeyword" class="form-control" />
                </div>
                <div class="mb-2">
                    <textarea placeholder="Meta Description" rows="3" id="metaDescription" class="form-control textarea-resize-none"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <button class="btn btn-success" onclick="createProduct()">Lưu</button>
                <button class="btn btn-primary" onclick="btnClick('/Admin/Product/_Index')">Danh sách</button>
            </div>
        </div>
    </div>
</div>
